<html>
<head>
	<title>Polyfind</title>
</head>
<h1>Polyfind</h1>
<body>
	<h2>Your query did not return any results. Please search again.</h2>
	<center><form name="input" action="{{ url_for("search") }}" method="get">
	<big>What do I wear with<input type="text" name="q" /></big><input type="submit" value="Submit">?<br />
	</form></center>
	<b>TIP:</b> For more results, try searching with fewer or different terms. Searching for Chloe Purse may not return the same results as Chloe Handbag, Chloe Tote, or Chloe Bag. For precise results, use quotation marks (ex: "Chloe Saskia Bag")
</body>
</html>